@import url('./reset.css');
@import url('./fonts.css');
@import url('./colors.css');
@import url('./layout.css');

header {
  background-color: var(--navy);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 20px 0;
}

.navigation__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navigation__logo img,
.navigation__logo p {
  display: inline-block;
}

.navigation__logo p {
  margin-left: 4px;
  color: var(--smoke-white);
  font-weight: 500;
}

.navigation__bars-button {
  background-color: transparent;
  border: 0;
  color: var(--smoke-white);
}

.navigation__links {
  display: none;
}

/* FOR DESKTOP */
@media (min-width: 1024px) {
  .navigation {
    height: 80px;
    padding: 32px;
  }

  .navigation__bars-button {
    display: none;
  }

  .navigation__links {
    display: flex;
    list-style-type: none;
    width: 20.5rem;
    justify-content: space-between;
  }

  .navigation__links a {
    text-decoration: none;
    color: var(--smoke-white);
  }
}
