@import url('./reset.css');
@import url('./fonts.css');
@import url('./colors.css');
@import url('./layout.css');

/* NAVIGATION */
header {
  background-color: var(--navy);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 20px 0;
}

.navigation__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navigation__logo img,
.navigation__logo p {
  display: inline-block;
}

.navigation__logo p {
  margin-left: 4px;
  color: var(--smoke-white);
  font-weight: 500;
}

.navigation__links {
  display: none;
  list-style-type: none;
  width: 20.5rem;
  justify-content: space-between;
}

.navigation__links a,
.m-navigation__links a {
  text-decoration: none;
  color: var(--smoke-white);
}

.navigation__links a:hover {
  color: var(--sky-blue);
}

.navigation__bars-button {
  background-color: transparent;
  border: 0;
  color: var(--smoke-white);
}

.navigation__bars-button input[type='checkbox'] {
  appearance: none;
}

.navigation__bars-button .fa.fa-close {
  display: none;
}

/* Mobile navigation's height value is 0 to make it invisible */
.m-navigation .m-navigation__links {
  height: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
  list-style-type: none;
  transition: all 0.5s ease-in-out;
}

.m-navigation__links li {
  padding: 4px 0;
}

/*determining whether the header contains a checkbox input that is checked before expanding the mobile navigation's height to 140 pixels to make it visible.*/
header:has(.navigation__bars-button input[type='checkbox']:checked)
  .m-navigation__links {
  margin-top: 8px;
  height: 140px;
}

/* Hiding the bars icon on checkbox checked state */
header:has(.navigation__bars-button input[type='checkbox']:checked)
  .navigation__bars-button
  .fa-bars {
  display: none;
}

/* Showing the cross icon on checkbox checked state */
header:has(.navigation__bars-button input[type='checkbox']:checked)
  .navigation__bars-button
  .fa-close {
  display: inline-block;
}

/* HERO */
.hero {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  background-color: var(--navy);
  justify-content: center;
}

.hero__container {
  padding: 42px 0;
  display: flex;
  flex-direction: column;
}

.hero__info {
  display: flex;
  flex-direction: column;
}

.hero__info__eyebrow-title {
  color: var(--smoke-white);
  width: 140px;
  font-size: 24px;
  transform: rotate(-15deg);
  margin-bottom: 10px;
}

.hero__info__title {
  color: var(--smoke-white);
  font-size: 40px;
  font-weight: bold;
  line-height: 110%;
}

.hero__info__sub-title {
  padding: 32px 0;
  color: var(--smoke-white);
}

.hero__info__button {
  padding: 10px 0;
  height: 48px;
  background-color: var(--smoke-white);
  color: var(--navy);
  border: 1px solid var(--smoke-white);
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.hero__info__button:hover {
  background-color: var(--light-grey);
  border: 1px solid var(--light-grey);
}

.hero__info__links {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.hero__info__links a {
  text-decoration: none;
  font-size: 14px;
  color: var(--smoke-white);
}

.hero__info__links a:hover {
  color: var(--sky-blue);
}

.hero__illustration img {
  max-width: 100%;
  height: auto;
}

/* ABOUT */
.about {
  background-color: var(--dark-navy);
  padding: 80px 0;
  color: var(--smoke-white);
}

.about__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about__main__title {
  font-size: 44px;
  line-height: 110%;
  font-weight: bold;
}

.about__main__title--sky-blue {
  color: var(--sky-blue);
}

.about__detail {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about__detail__title {
  font-size: 24px;
  font-weight: bold;
}

.about__detail__stacks {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 8px;
  font-size: 32px;
}

/* PROJECTS */
.projects {
  background-color: var(--navy);
  padding: 80px 0;
  color: var(--smoke-white);
}

.projects__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.projects__title {
  font-size: 24px;
  font-weight: bold;
}

.projects__cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.projects__card {
  width: 100%;
  border: 1px solid var(--light-grey);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 5px;
}

.projects__card__title {
  font-weight: bold;
}

.projects__card__subtitle {
  font-size: 14px;
}

.projects__card__stacks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.projects__card__image {
  width: 100%;
  height: auto;
}

.projects__card__see-more {
  text-decoration: none;
  color: var(--smoke-white);
  font-size: 14px;
}

.projects__card__see-more:hover {
  color: var(--sky-blue);
}

.projects__card__see-more i {
  vertical-align: middle;
}

/* CONTACT */
.contact {
  background-color: var(--dark-navy);
  padding: 80px 0;
  color: var(--smoke-white);
}

.contact__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact__illustration {
  display: flex;
  flex-direction: column;
  gap: 16px;
  order: 2;
}

.contact__illustration__title {
  font-size: 24px;
  font-weight: bold;
}

span.contact__illustration__title--sky-blue {
  color: var(--sky-blue);
}

.contact__illustration__subtitle {
  font-size: 18px;
  font-weight: bold;
}

.contact__illustration__image {
  width: 100%;
  height: auto;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
}

.contact__contact-me {
  display: flex;
  flex-direction: column;
  gap: 20px;
  order: 1;
  background-color: var(--light-grey);
  padding: 20px;
  border-radius: 5px;
}

.contact__contact-me__title {
  font-size: 24px;
  font-weight: bold;
  color: var(--navy);
}

.contact__contact-me__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact__contact-me__form__group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact__contact-me__form__group label {
  font-size: 18px;
  font-weight: 600;
  color: var(--navy);
}

.contact__contact-me__form__group input,
.contact__contact-me__form__group textarea {
  color: var(--navy);
  padding: 10px;
  font-size: 14px;
  background-color: var(--smoke-white);
  border: 1px solid var(--smoke-white);
  border-radius: 5px;
}

.contact__contact-me__form__button {
  padding: 20px;
  color: var(--smoke-white);
  background-color: var(--navy);
  border: 1px solid var(--navy);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}

/* FOOTER */
.footer {
  background-color: var(--navy);
  padding: 16px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--smoke-white);
}

.footer__title {
  font-size: 14px;
  padding-bottom: 4px;
}

.footer__links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  /* width: 120px; */
  gap: 12px;
}

.footer__links li a {
  text-decoration: none;
  color: var(--smoke-white);
  font-size: 20px;
}

.footer__subtitle {
  padding-top: 18px;
  font-size: 14px;
}

/* =================================================================================== */
/* FOR DESKTOP */
@media (min-width: 1024px) {
  /* NAVIGATION */
  .navigation {
    height: 80px;
    padding: 32px 0;
  }

  .navigation__bars-button {
    display: none;
  }

  .navigation__links {
    display: flex;
  }

  /* HERO */
  .hero {
    height: 100vh;
    padding-top: 80px;
  }

  .hero__container {
    padding: 0;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .hero__info {
    width: 58%;
  }

  .hero__info__eyebrow-title {
    width: 180px;
  }

  .hero__info__title {
    font-size: 48px;
  }

  .hero__info__sub-title {
    padding: 40px 0;
    max-width: 560px;
    font-size: 18px;
  }

  .hero__info__button {
    max-width: 260px;
  }

  .hero__info__links {
    max-width: 360px;
  }

  .hero__info__links a {
    font-size: 16px;
  }

  .hero__illustration {
    width: 42%;
  }

  /* ABOUT */
  .about {
    padding: 96px 0;
  }

  .about__container {
    flex-direction: row;
  }

  .about__main,
  .about__detail {
    width: 50%;
  }

  .about__main__title {
    font-size: 68px;
  }

  .about__detail {
    gap: 20px;
  }

  .about__detail__info {
    font-size: 18px;
  }

  .about__detail__title {
    font-size: 30px;
  }

  .about__detail__stacks {
    gap: 10px;
    font-size: 40px;
  }

  .projects__cards-container {
    gap: 40px;
    justify-content: space-between;
  }

  .projects__card {
    width: 30%;
  }

  .projects__card__title {
    font-size: 18px;
  }

  .projects__card__subtitle {
    font-size: 16px;
  }

  .projects__card__see-more {
    font-size: 16px;
  }

  /* CONTACT */
  .contact__container {
    flex-direction: row;
    gap: 40px;
  }

  .contact__illustration {
    gap: 20px;
    order: 1;
    width: 50%;
  }

  .contact__illustration__title {
    font-size: 40px;
    max-width: 502px;
  }

  .contact__illustration__subtitle {
    font-size: 30px;
  }

  .contact__contact-me {
    gap: 40px;
    order: 2;
    width: 50%;
    padding: 40px;
    justify-content: center;
  }

  .contact__contact-me__title {
    font-size: 40px;
  }

  .contact__contact-me__form {
    gap: 32px;
  }

  .contact__contact-me__form__group input,
  .contact__contact-me__form__group textarea {
    padding: 20px;
    font-size: 18px;
  }

  .contact__contact-me__form__button {
    font-size: 18px;
  }

  /* FOOTER */
  .footer {
    padding: 24px;
  }

  .footer__title {
    font-size: 16px;
    padding-bottom: 8px;
  }

  .footer__links li a {
    font-size: 28px;
  }

  .footer__subtitle {
    padding-top: 36px;
    font-size: 16px;
  }
}

/* ============================================================================= */
/* FOR LARGE DESKTOP */
@media (min-width: 1440px) {
  /* ABOUT */
  .about__main__title {
    font-size: 80px;
  }
}
